.AddProperty {
  padding: 10px;
}
.selectDropdown {
  background-color: white;
  margin: 0px 5px 5px 5px;
}
button {
  background-color: white;
  padding: 5px;
  font-family: 'Helvetica', sans-serif;
  margin: 30px;
}

.inputField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 20px;
  min-height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.Alert {
  display: none;
}

.Alert.error {
  margin: 10px;
  padding: 5px;
  border: solid;
  display: inline-block;
  background-color: rgb(246, 163, 163);
  border-color: #aa4448;
  color: #5c000d;
}
.Alert.success {
  margin: 10px;
  padding: 5px;
  border: solid;
  display: inline-block;
  background-color: #5ec27f;
  border-color: #26ab8a;
  color: #3b4a3f;
}

input {
  min-width: 100px;
  max-width: 15%;
}
