.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.NavBar {
  background-color: #5e0843;
  border-bottom-color: pink;
}

.item {
  padding: 6px;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  font-family: 'Helvetica', sans-serif;
  margin: 10px;
  border: solid grey;
  border-radius: 3px;
  max-height: 20px;
}

button:hover {
  color: blue;
  display: inline-block;
}

img {
  max-width: 10%;
  max-height: 100px;
}
