.PropertyCard {
  border: solid black 3px;
  background-color: #ffe9ff;
  /* min-width: 200px; */
  width: 300px;
  min-height: 300px;
  padding: 5px;
  margin: 10px;
  display: block;
  text-align: center;
  text-emphasis: wrap;
  align-content: stretch;
}
.Alert {
  display: none;
}

.Alert.error {
  margin: 10px;
  padding: 5px;
  border: solid;
  display: inline-block;
  background-color: rgb(246, 163, 163);
  border-color: #aa4448;
  color: #5c000d;
}
.Alert.success {
  margin: 10px;
  padding: 5px;
  border: solid;
  display: inline-block;
  background-color: #5ec27f;
  border-color: #26ab8a;
  color: #3b4a3f;
}
