.Alert {
  display: none;
}

.Alert.error {
  margin: 10px;
  padding: 5px;
  border: solid;
  display: inline-block;
  background-color: rgb(246, 163, 163);
  border-color: #aa4448;
  color: #5c000d;
}
.Alert.success {
  margin: 10px;
  padding: 5px;
  border: solid;
  display: inline-block;
  background-color: #5ec27f;
  border-color: #26ab8a;
  color: #3b4a3f;
}

body {
  margin: 0;
}
h3 {
  margin: 20px;
}

/* .allProperties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 1;
  padding: 0.5rem;
  flex-grow: 100%;
} */

.allProperties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: '. . .' '. . .' '. . .';
  width: 100%;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: stretch;
  justify-content: stretch;
}

.sidebar {
  /* float: left; */
  padding: 10px;
  background-color: white;
  /*  height: 100%; */
}

.sidebar > * {
  margin: 5px;
  padding: 5px;
}

.nameSearchForm {
  display: inline;
}

/* .allProperties {
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}*/
/* .allProperties > * {
  flex: 1 1 80px;
} */
/* .allProperties > .col {
                    display: inline-block;
                  
                    width: 33%;
                    padding: 0.5rem;
                    box-sizing: border-box;
                  } */
